name: Latest blog post workflow
on:
  schedule: # Run workflow automatically
    - cron: '0 10 * * *' # Runs every hour, on the hour
  workflow_dispatch: # ✅ schedule과 같은 레벨
  push:
    branches: [master]  # ✅ 들여쓰기도 통일
permissions:
  contents: write # To write the generated contents to the readme

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in dev.to posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://chaeyoung2.tistory.com/rss"
          accept_header: "text/xml"